.facts {
    display: flex;
}

.b {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        text-align: center;
        color: #002B49;
    }

    margin-bottom: 20px;
}

.g {
    width: 100px;
    margin: 10px auto;
}