*{

    
    list-style: none;
    text-decoration: none;
}

.slider{
    .swiper {
        width: 100%;
        height: 300px;
      }
      .slide{
        width: 100%;
        height: 350px;
        border-radius: 10px;
        img{
            width: 100%;
        }
      }
}

.headerImage{
    background-image: linear-gradient(rgba(241, 241, 241, 0.788), rgba(238, 236, 236, 0.829), rgba(248, 247, 247, 0.733)),
        url("../../../public/assets/media/layoutImages/header.png");
    background-size: 100% 100%;
}
.headerImage2{
    background-image: linear-gradient(rgba(241, 241, 241, 0.788), rgba(238, 236, 236, 0.829), rgba(248, 247, 247, 0.733)),
        url("../../../public/assets/media/layoutImages/header1.png");
    background-size: 100% 100%;
}
.headerImage3{
    background-image: linear-gradient(rgba(241, 241, 241, 0.788), rgba(238, 236, 236, 0.829), rgba(248, 247, 247, 0.733)),
        url("../../../public/assets/media/layoutImages/slide1.png");
    background-size: 100% 100%;
}
.headerLayout{
    width: 100%;
    height: 220px;
    padding-top: 30px;
    text-align: center;
    
    .link{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .line{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 250px;
        margin: 10px auto;
    }
    
    h1{
        font-size: 35px;
    }
    button{
        cursor: pointer;
        outline: none;
        width: 25%;
        margin: 10px;
    }
    .StudentCounsil__btn, .Clubs__btn, .AcademicCalendar__btn{
        border: 0;
        margin: 10px;
        height: 35px;
        padding: 10px;
        transition: 0.4s;
        border-radius: 30px;
        background: #FFC600;
    }
    .StudentCounsil__btn:focus, .Clubs__btn:focus, .AcademicCalendar__btn:focus{
        background: #002B49;
        color: #FFC600;
    }
    
}
.layoutPart{
    width: 60%;
    margin: 30px auto;
}
.pagecha{
    display: flex;
    justify-content: space-between;

    .slidePart{
        width: 74%;
        .slider{
            width: 100%;
            height: 320px;
            margin: 20px 0;
            overflow: hidden;
            border-radius: 10px;
            img{
                border-radius: 10px;
            }
        }
    }
    .navbar{
        width: 25%;
        .sections{
            li{
                margin: 15px 5px;
                padding: 5px;
                border-bottom: 1px solid #BBBCBB;
                span{
                    color: orange;
                    color: white;
                    font-weight: 900;
                    border-left: 4px solid #FFC600;;
                }
            }
        }
    }
}

@media(max-width: 880px){
    .pagecha{
        .slidePart{

            .slider{
                height: 270px;
            }
        }
    }

}
@media(max-width: 650px){
    .pagecha{
        .slidePart{

            .slider{
                height: 200px;
            }
        }
    }

}

@media(max-width: 520px){
   .headerLayout{
        display: block;
        height: 250px;
        text-align: center;
        .StudentCounsil__btn, .Clubs__btn, .AcademicCalendar__btn{
            width: 150px;
            font-size: 14px;
            display: block;
            margin: 10px auto;
        }
   }
   h1{
    font-size: 19px;
   }
   .pagecha{
        display: block;
        .slidePart{

            .slider{
                height: 170px;
            }
        }
   }
}